<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' />
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<center>
<h2><%= title_1 %></h2>
<p style="color:red;">
<% if( title_2!=''){ %>
<%=title_2 %>
<% } %>
</p>
<form action="/login" method="post" >
<label>username :</label>
<input type="text" name="uname">
<br><br>
<label>password :</label>
<input type="password" name="pswd">
<br><br>
<button>login</button>
</form>
<br>
<p>if you dont have account then <a href="/signup">create account</a>
</center>
</body>
</html>
